{% extends 'global/base.html' %}
{% block content %}
    <div class="tw-bg-gradient-to-r tw-from-persian_green tw-from-10% tw-via-ultra_violet tw-via-40%
     tw-to-sky-600 tw-relative tw-bg-100%">
        <div class="tw-bg-black tw-bg-opacity-50 tw-h-screen">
            <div class="tw-absolute tw-right-10 tw-top-28 tw-z-2">
                <h2 class="tw-text-white tw-flex tw-justify-end tw-font-rem tw-font-extrabold tw-text-4xl tw-whitespace-pre-wrap">
                    Olá, sou Willy P.
                    Um desenvolvedor Web iniciante
                    e esse é meu portfolio.
                </h2>
                <div class="tw-text-white tw-flex tw-justify-end tw-font-rem tw-font-extrabold tw-whitespace-pre-line">
                    <p class="tw-text-sm"> Este é o primeiro site criado por mim, e terá diversos ajustes e alterações de acordo
                        com o que for aprendendo ao longo da minha carreira.
                    </p>
                </div>
            </div>
            <img src="/media/header-code.png" alt="Header Code" class="tw-max-w-3xl tw-ml-8 tw-top-24 tw-absolute tw-z-1 tw-rounded-md">
        </div>
        <div class="tw-bg-black tw-bg-opacity-50 tw-relative">
            <h3 class="tw-font-poiret_one tw-font-bold tw-text-center tw-text-5xl tw-pb-2">
                Progresso de Cursos
            </h3>
            <div class="tw-bg-white tw-flex tw-justify-between tw-p-3 tw-pb-10">
                <div>
                    <img src="/media/django-progress.png" alt="Django Progress" class="tw-w-32 tw-inline-block">
                    <div class="tw-w-28 tw-bg-gradient-to-r tw-from-green-600 tw-from-90% tw-to-slate-800
                     tw-block tw-h-2 tw-rounded-md tw-mt-4 tw-absolute tw-bottom-4"></div>
                </div>
                <div>
                    <img src="/media/python-progress.png" alt="Python Progress" class="tw-w-32 tw-inline-block">
                    <div class="tw-w-32 tw-bg-gradient-to-r tw-from-green-600 tw-to-slate-800 tw-to-20%
                     tw-block tw-h-2 tw-rounded-md tw-mt-4 tw-absolute tw-bottom-4"></div>
                </div>
                <div>
                    <img src="/media/js-progress.png" alt="Java Script Progress" class="tw-w-32 tw-inline-block">
                    <div class="tw-w-32 tw-bg-slate-800
                     tw-block tw-h-2 tw-rounded-md tw-mt-4 tw-absolute tw-bottom-4"></div>
                </div>
                <div>
                    <img src="/media/ts-progress.png" alt="Type Script Progress" class="tw-w-32 tw-inline-block">
                    <div class="tw-w-32 tw-bg-slate-800
                     tw-block tw-h-2 tw-rounded-md tw-mt-4 tw-absolute tw-bottom-4"></div>
                </div>
                <div>
                    <img src="/media/java-progress.png" alt="Java Progress" class="tw-w-32 tw-inline-block">
                    <div class="tw-w-32 tw-bg-slate-800
                     tw-block tw-h-2 tw-rounded-md tw-mt-4 tw-absolute tw-bottom-4"></div>
                </div>
                <div class="">
                    <img src="/media/wf-progress.png" alt="Web Frontend Progress" class="tw-h-32 tw-w-60 tw-inline-block">
                    <div class="tw-w-60 tw-bg-slate-800
                     tw-block tw-h-2 tw-rounded-md tw-mt-4 tw-absolute tw-bottom-4"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}