{% extends 'global/base.html' %}
{% block content %}
    <div class="tw-bg-black ">
        <h2 class="tw-text-white tw-flex tw-justify-end tw-font-rem tw-font-extrabold tw-text-4xl tw-pr-18">
            Olá, eu sou Willy P.<br>
            Um desenvolvedor Web iniciante<br>
            e esse é meu portfolio.
        </h2><br>
        <div class="tw-text-white tw-flex tw-justify-end tw-font-rem tw-font-extrabold">
            <p class="tw-text-sm"> Este é o primeiro site criado por mim, e terá diversos ajustes e alterações de acordo<br>
                 com o que for aprendendo ao longo da minha carreira.
            </p>
        </div>
    </div>
{% endblock content %}