<footer class="tw-bg-gradient-to-tl tw-from-sky-600 from 10% tw-via-zinc-700 tw-via-50% tw-to-chrysler_blue tw-to-90%">
    <footer class=" tw-bg-black tw-bg-cover tw-flex-wrap tw-items-center tw-flex tw-justify-between tw-py-2
     tw-px-2 tw-p-fit tw-max-w-full tw-border-t-2 tw-border-slate-500 tw-text-white tw-text-sm tw-font-rem tw-bg-opacity-60">
        <div>
            <a href="{% url 'principal:home' %}" target="_blank" rel="noreferrer noopener"> Made by SoldadoZuero</a>
        </div>
        <div>
            <span> Powered by</span>
            <a href="https://www.djangoproject.com/" target="_blank" rel="noreferrer noopener"> 
                <img class="tw-inline-block" src="/media/django-icon.png" alt="Django">
            </a>
            <span>&</span>
            <a href="https://tailwindcss.com" target="_blank" rel="noreferrer noopener"> 
                <img class="tw-inline-block" src="/media/tailwind.png" alt="Tailwind Css">
            </a>
        </div>
    </footer>
</footer>