<header class="tw-bg-black tw-bg-opacity-50 tw-relative tw-py-6 tw-pl-6 tw-p-fit tw-inline-block tw-static">
        <h1 class="tw-contents">
            <a class="tw-font-fredericka tw-static tw-text-3xl tw-p-2 tw-text-white" 
            
            href="{% url 'principal:home' %}
            "> SoldadoZuero</a>
            <a class="tw-px-8 tw-pb-header-34px hover:tw-bg-purple-900 tw-transition tw-duration-300
                tw-pt-7 tw-bg-opacity-20 tw-font-rem tw-text-white tw-text-xl
            "> Projects</a>
            <a class="tw-px-8 tw-pb-header-34px hover:tw-bg-purple-900 tw-transition tw-duration-300
                tw-pt-7 tw-bg-opacity-20 tw-font-rem tw-text-white tw-text-xl
            "> Works</a>
            <a class="tw-px-8 tw-pb-header-34px hover:tw-bg-purple-900 tw-transition tw-duration-300
                tw-pt-7 tw-bg-opacity-20 tw-font-rem tw-text-white tw-text-xl
            "> Experience</a>
            <a class="tw-px-8 tw-pb-header-34px hover:tw-bg-purple-900 tw-transition tw-duration-300
                tw-pt-7 tw-bg-opacity-20 tw-font-rem tw-text-white tw-text-xl
            "> Contact</a>
        </h1>
</header>
