<header class="tw-bg-contain tw-max-w-7xl tw-max-h-7 tw-p-fit">
    <div>
        <h1 class="tw-font-lobster tw-float-left tw-text-left tw-w-fit tw-p-2 tw-p-fit"
        >
            SoldadoZuero
        </h1>
        <ul class="tw-text-right tw-font-satisfy tw-p-2 tw-p-fit tw-ml-1">
            <li class="tw-px-8 tw-float-right"> Contact</li>
            <li class="tw-px-8 tw-float-right"> Experience</li>
            <li class="tw-px-8 tw-float-right"> Works</li>
            <li class="tw-px-8 tw-float-right"> Projects</li>
        </ul>
    </div>
</header>
