<div class="tw-bg-black tw-bg-opacity-50 tw-flex tw-justify-end tw-h-screen tw-font-rem">
    <div class="tw-bg-white tw-bg-clip-padding tw-h-32 tw-w-3/4 tw-rounded-l-2xl tw-mb-4
     tw-scroll-m-12 tw-p-2 tw-h-fit tw-p-5 -tw-left-full tw-absolute" id="aboutme">
        <h3>
            About me

        </h3>
        <div>
            <p>
                Sou um jovem desenvolvedor que já tem alguns projetos na mesa e está trabalhando em outros projetos futuros,
                deixando um pouco de lado o desenvolvimento web e focando em uma programação mais abrangente, como mods em Java e JavaScript.
                Embora já demonstrasse um grande interesse na área de Tecnologia da Informação, só tive a oportunidade de estudar algumas linguagens em 2023
                após recomendações de amigos. Desde então, tenho estudado algumas linguagens que acrescentam em alguns de meus projetos futuros e em outros que já estão em andamento.
            </p>
        </div>
    </div>
</div>