<div class="tw-bg-persian_green tw-outline-4 tw-outline-non_photo_blue tw-outline">
    <div class="tw-to-persian_green tw-bg-gradient-to-b tw-from-20% tw-from-sky-600 tw-bg-opacity-10">
        <h2 class="tw-bg-black tw-bg-opacity-50 tw-font-poiret_one tw-font-bold tw-text-center
         tw-text-slate-200 tw-text-5xl tw-pt-2 tw-pb-2">
        Course Progress
        </h2>
    </div>
    <div class="tw-bg-black tw-bg-opacity-50 tw-flex tw-justify-between tw-p-3 tw-pb-12">
        <div>
            <img src="/media/django-progress.png" alt="Django Progress 90%" class="tw-w-32 tw-inline-block">
            <div class="tw-w-28 tw-bg-gradient-to-r tw-to-slate-900 tw-from-90% tw-from-sky-500
                tw-block tw-h-2 tw-rounded-md tw-mt-4 tw-absolute tw-bottom-4"></div>
        </div>
        <div>
            <img src="/media/python-progress.png" alt="Python Progress 20%" class="tw-w-32 tw-inline-block">
            <div class="tw-w-32 tw-bg-gradient-to-r tw-to-slate-900 tw-from-sky-500 tw-to-20%
                tw-block tw-h-2 tw-rounded-md tw-mt-4 tw-absolute tw-bottom-4"></div>
        </div>
        <div>
            <img src="/media/js-progress.png" alt="Java Script W.I.P" class="tw-w-32 tw-inline-block">
            <div class="tw-w-32 tw-bg-slate-900
                tw-block tw-h-2 tw-rounded-md tw-mt-4 tw-absolute tw-bottom-4"></div>
        </div>
        <div>
            <img src="/media/ts-progress.png" alt="Type Script W.I.P" class="tw-w-32 tw-inline-block">
            <div class="tw-w-32 tw-bg-slate-900
                tw-block tw-h-2 tw-rounded-md tw-mt-4 tw-absolute tw-bottom-4"></div>
        </div>
        <div>
            <img src="/media/java-progress.png" alt="Java W.I.P" class="tw-w-32 tw-inline-block">
            <div class="tw-w-32 tw-bg-slate-900
                tw-block tw-h-2 tw-rounded-md tw-mt-4 tw-absolute tw-bottom-4"></div>
        </div>
        <div class="">
            <img src="/media/wf-progress.png" alt="Web Frontend W.I.P" class="tw-h-32 tw-w-60 tw-inline-block">
            <div class="tw-w-60 tw-bg-slate-900
                tw-block tw-h-2 tw-rounded-md tw-mt-4 tw-absolute tw-bottom-4"></div>
        </div>
    </div>
</div>