<div class="tw-bg-black tw-bg-opacity-50 tw-h-screen tw-relative">
    <div class="tw-relative tw-top-24">
        <img src="/media/header-code.png" alt="Header Code" class="tw-max-w-3xl tw-ml-8 tw-static tw-z-1 tw-rounded-md">
        <div class="tw-absolute tw-z-2 tw-top-5 tw-right-8 tw-ml-1">
            <h2 class="tw-text-white tw-flex tw-justify-end tw-font-rem tw-font-extrabold tw-text-4xl tw-whitespace-pre-wrap">
                I'm Willy P.
                A starter Web developer and this
                is my portfolio.
            </h2>
            <div class="tw-flex tw-justify-end tw-font-rem tw-font-extrabold tw-whitespace-pre-line">
                <p class="tw-text-slate-300 tw-text-sm"> This marks the initial occasion in which I have independently developed a website, and
                     I anticipate undergoing numerous adjustments and modifications
                     throughout my professional journey.
                </p>
            </div>
        </div>
    </div>
</div>